html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/19019470/pexels-photo-19019470/free-photo-of-arc-de-triomphe-in-paris-france.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
}

form {
  width: 40rem;
  background-color: #f7f7f7; /* Soft grayish background color */
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  opacity: 0.9;
}

.input-wrapper {
  margin-bottom: 1rem;
  /* width: 30rem; */
  display: flex;
  justify-content: center;
}

.input-wrapper > label {
  margin-right: 1rem;
  /* background-color: yellow; */
  /* display: block; */
  width: 10rem;
}

.input-wrapper > input {
  width: 20rem;
}

form > button[type="submit"] {
  background-color: #343fdb;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.error {
  color: red;
  /* border: 2px solid black; */
  font-family: monospace;
}